apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "terrarium.fullname" . }}-modules-api-v1
  namespace: {{ include "terrarium.fullname" . }}
  labels:
    {{- include "terrarium.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.storage.replicas }}
  selector:
    matchLabels:
      {{- include "terrarium.modulesAPIV1SelectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "terrarium.modulesAPIV1SelectorLabels" . | nindent 8 }}
    spec:
      imagePullSecrets:
        - name: {{ include "terrarium.fullname" . }}-regcred
      serviceAccountName: "default"
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.storage.image.repository }}:{{ .Values.storage.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.storage.image.pullPolicy }}
          args:
            - "modules.v1"
            - "--endpoint"
            - "0.0.0.0:3000"
            - "--mount-path"
            - "/modules"
            - "--version-manager"
            - "$(VERSION_MANAGER_ENDPOINT)"
            - "--storage"
            - "$(STORAGE_ENDPOINT)"
            - "--aws-access-key-id"
            - "not-used"
            - "--aws-region"
            - "not-used"
            - "--aws-secret-access-key"
            - "not-used"
          env:
            - name: VERSION_MANAGER_ENDPOINT
              valueFrom:
                configMapKeyRef:
                  name: {{ include "terrarium.fullname" . }}-gateway-cm
                  key: VERSION_MANAGER_ENDPOINT
            - name: STORAGE_ENDPOINT
              valueFrom:
                configMapKeyRef:
                  name: {{ include "terrarium.fullname" . }}-gateway-cm
                  key: STORAGE_ENDPOINT
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP

          livenessProbe:
            httpGet:
              path: /healthz
              port: http
          readinessProbe:
            httpGet:
              path: /healthz
              port: http